@page "/help"

<MudText Typo="Typo.h5">Help</MudText>

<MudDivider Class="mt-2" />

<div class="mt-2">
    <MudText Typo="Typo.h5">Intro</MudText>
    <MudText Typo="Typo.body1">
        We provide a actively growing solution for managing your Minecraft server with ease and a try to also incorporate a bit security.
    </MudText>
</div>

<MudDivider Class="mt-3" />

<div class="mt-2">
    <MudText Typo="Typo.h5">Features</MudText>
    <MudList T="MudText" Dense>
        <MudListItem T="MudText">
            <MudText Typo="Typo.body1">
                <MudLink Href="/players">
                    <strong>Player Management:</strong>
                </MudLink>
                Easily manage your players, including viewing player data and performing quick actions such as messaging, kicking, banning, or changing game modes etc.
            </MudText>
        </MudListItem>

        <MudListItem T="MudText">
            <MudText Typo="Typo.body1">
                <MudLink Href="/accounts">
                    <strong>Login:</strong>
                </MudLink>
                Password secured access to the panel trough a basic login feature.
            </MudText>
        </MudListItem>

        <MudListItem T="MudText">
            <MudText Typo="Typo.body1">
                <MudLink Href="/management">
                    <strong>Management:</strong>
                </MudLink>
                Quick problem solving buttons, you can reset the player list (emptying it) or recrawling all online players.
                Also you can see the current memory usage and cpu usage of the server process, I don't think it is accurate but we will see..
            </MudText>
        </MudListItem>

        <MudListItem T="MudText">
            <MudText Typo="Typo.body1">
                <MudLink Href="/">
                    <strong>Console:</strong>
                </MudLink>
                Easy full control over your server like with a normal console but you get a custom interface just like with a professional hosting service.
                (In the future we try to provide autocomplete functionality etc. to make your experience smoother.)
            </MudText>
        </MudListItem>

        <MudListItem T="MudText">
            <MudText Typo="Typo.body1">
                <MudLink Href="/settings">
                    <strong>Settings:</strong>
                </MudLink>
                Currently you can only change the panel access password there.
            </MudText>
        </MudListItem>
    </MudList>
</div>

<MudDivider Class="mt-3" />

<div class="mt-2">
    <MudText Typo="Typo.h5">Technical stuff</MudText>
    <MudList T="MudText" Dense>
        <MudListItem T="MudText">
            <MudText Typo="Typo.body1">
                <strong>Tech:</strong>
                Our Minecraft Server Wrapper is developed using C# (.NET Core 8) with Blazor Server technology.
                I will try to update it on a regular basis, this was created by me out of the need for a simple interface.
            </MudText>
        </MudListItem>

        <MudListItem T="MudText">
            <MudText Typo="Typo.body1">
                <strong>Live Information:</strong>
                We read the processes' input and output to dynamically update the user interface, providing you with real-time information about your server.
                So if you experience any problems or bugs, report them please so we can support any kind of minecraft server and version, let it be forge, fabric, vanilla etc.. but for that we need you :)
            </MudText>
        </MudListItem>

        <MudListItem T="MudText">
            <MudText Typo="Typo.body1">
                <strong>Memory usage:</strong>
                The wrapper itself may need a bit amount of memory, this is a thing that is hard to cut down, so if you want to use this wrapper, please have at least <u>300-500mb spare memory available</u>, the more the better.
            </MudText>
        </MudListItem>

        <MudListItem T="MudText">
            <MudText Typo="Typo.body1">
                <strong>Minecraft versions:</strong>
                I tested it with various craftbukkit, spigot, forge and fabric versions, because this is a wrapper it should work on a lot of version but if you notice a version is not working (like modded or a specific fork etc.) contact me to fix it :)
                Currently vanilla, craftbukkit and spigot from 1.17 and up will work, anything below 1.17 has problems (no list of players, daytime is not accurate etc.) those versions won't receive support for now as I want to implement more features first.
            </MudText>
        </MudListItem>
    </MudList>
</div>

<MudDivider Class="mt-3" />

<div class="mt-2">
    <MudText Typo="Typo.h5">
        <b>Open Source</b>
    </MudText>

    <MudList T="string">
        <MudListItem T="string">I offer this software free of charge, because maybe someone needs something like this or someone knows how to enhance it so I publish this to GitHub.</MudListItem>
        <MudListItem T="string">If anyone want's to help improve this wrapper, please dont hesitate just open issues or contact me (below).</MudListItem>
        <MudListItem T="string">Big thanks to Microsoft for Blazor and to <MudLink Target="_blank" Href="https://github.com/MudBlazor/MudBlazor">MudBlazor</MudLink> for creating this amazing library.</MudListItem>
    </MudList>
    
</div>

<MudDivider Class="mt-3" />

<div class="mt-2">
    <MudText Typo="Typo.h5"><b>Contact me</b></MudText>
    <MudText Typo="Typo.body1">I value your feedback, if you have any issues feel free to reach out to me at <MudLink Target="_blank" Href="https://www.spigotmc.org/resources/authors/isamusoftware.283989/">spigotmc.org</MudLink> or <MudLink Target="_blank" Href="https://github.com/liebki">github.com</MudLink>.</MudText>
</div>