@page "/settings"

<MudText Typo="Typo.h5">Settings</MudText>

<div class="mt-3">
    <MudButton Variant="Variant.Filled" Color="Color.Error" OnClick="ForcePlayerlistReset">Reset players</MudButton>
    <MudText Class="mt-3">This button reset the player list under <MudLink Href="/players">/Players</MudLink> only use it when there is an error that can't be solved!</MudText>
</div>

<div class="mt-3">
    <MudButton Variant="Variant.Filled" Color="Color.Error" OnClick="ForcePlayerlistRecrawl">Recrawl players</MudButton>
    <MudText Class="mt-3">This button recrawls the player list under <MudLink Href="/players">/Players</MudLink> only use it when there is an error that can't be solved!</MudText>
</div>